/src/HybridCLRCrashWorkarounds/.vsconfig
/src/HybridCLRCrashWorkarounds/Library
/src/HybridCLRCrashWorkarounds/Temp
/src/HybridCLRCrashWorkarounds/UserSettings
/src/HybridCLRCrashWorkarounds/.vs
/src/HybridCLRCrashWorkarounds/*.sln
/src/HybridCLRCrashWorkarounds/*.csproj
/src/HybridCLRCrashWorkarounds/Logs
/src/HybridCLRCrashWorkarounds/obj
/demo/HybridCLRTrial/.vsconfig
/demo/HybridCLRTrial/.vs
/demo/HybridCLRTrial/Library
/demo/HybridCLRTrial/Logs
/demo/HybridCLRTrial/obj
/demo/HybridCLRTrial/Temp
/demo/HybridCLRTrial/UserSettings
/demo/HybridCLRTrial/*.sln
/demo/HybridCLRTrial/*.csproj
/demo/HybridCLRTrial/HybridCLRData
/demo/HybridCLRTrial/GradleProject
/demo/HybridCLRTrial/Assets/HybridCLRBuildCache.meta
/demo/HybridCLRTrial/Assets/HybridCLRBuildCache
/demo/HybridCLRTrial/Assets/StreamingAssets/monoscripts
/demo/HybridCLRTrial/Assets/StreamingAssets/monoscripts.meta
/demo/HybridCLRTrial/HybridCLRTrial_BackUpThisFolder_ButDontShipItWithYourGame
/demo/HybridCLRTrial/*.zip
/demo/HybridCLRTrial/*.apk
